<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <remap from="image_rect" to="/stereo_camera/left/image_raw" />
    <remap from="camera_info" to="/stereo_camera/left/camera_info" />

    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="raw" />

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="36h11" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.13047, frame_id: tag_0},
      {id: 1, size: 0.13047, frame_id: tag_1},
      {id: 2, size: 0.13047, frame_id: tag_2},
      {id: 3, size: 0.13047, frame_id: tag_3},
      {id: 4, size: 0.13047, frame_id: tag_4},
      {id: 5, size: 0.13047, frame_id: tag_5},
      {id: 6, size: 0.13047, frame_id: tag_6},
      {id: 7, size: 0.13047, frame_id: tag_7},
      {id: 8, size: 0.13047, frame_id: tag_8},
      {id: 9, size: 0.13047, frame_id: tag_9},
      {id: 10, size: 0.13047, frame_id: tag_10},
      {id: 11, size: 0.13047, frame_id: tag_11},
      {id: 12, size: 0.13047, frame_id: tag_12},
      {id: 13, size: 0.13047, frame_id: tag_13},
      {id: 14, size: 0.13047, frame_id: tag_14},
      {id: 15, size: 0.13047, frame_id: tag_15},
      {id: 16, size: 0.13047, frame_id: tag_16},
      {id: 17, size: 0.13047, frame_id: tag_17},
      {id: 18, size: 0.13047, frame_id: tag_18},
      {id: 19, size: 0.13047, frame_id: tag_19},
      {id: 20, size: 0.13047, frame_id: tag_20},
      {id: 21, size: 0.13047, frame_id: tag_21},
      {id: 22, size: 0.13047, frame_id: tag_22},
      {id: 23, size: 0.13047, frame_id: tag_23},
      {id: 24, size: 0.13047, frame_id: tag_24},
      {id: 25, size: 0.13047, frame_id: tag_25},
      {id: 26, size: 0.13047, frame_id: tag_26},
      {id: 27, size: 0.13047, frame_id: tag_27},
      {id: 28, size: 0.13047, frame_id: tag_28},
      {id: 29, size: 0.13047, frame_id: tag_29},
      {id: 30, size: 0.13047, frame_id: tag_30},
      {id: 31, size: 0.13047, frame_id: tag_31},
      {id: 32, size: 0.13047, frame_id: tag_32},
      {id: 33, size: 0.13047, frame_id: tag_33},
      {id: 34, size: 0.13047, frame_id: tag_34},
      {id: 35, size: 0.13047, frame_id: tag_35},
      {id: 36, size: 0.13047, frame_id: tag_36},
      {id: 37, size: 0.13047, frame_id: tag_37},
      {id: 38, size: 0.13047, frame_id: tag_38},
      {id: 39, size: 0.13047, frame_id: tag_39},
      {id: 40, size: 0.13047, frame_id: tag_40},
      {id: 41, size: 0.13047, frame_id: tag_41},
      {id: 42, size: 0.13047, frame_id: tag_42},
      {id: 43, size: 0.13047, frame_id: tag_43},
      {id: 44, size: 0.13047, frame_id: tag_44},
      {id: 45, size: 0.13047, frame_id: tag_45},
      {id: 46, size: 0.13047, frame_id: tag_46},
      {id: 47, size: 0.13047, frame_id: tag_47},
      {id: 48, size: 0.13047, frame_id: tag_48},
      {id: 49, size: 0.13047, frame_id: tag_49},
      {id: 50, size: 0.13047, frame_id: tag_50},
      {id: 51, size: 0.13047, frame_id: tag_51},
      {id: 52, size: 0.13047, frame_id: tag_52},
      {id: 53, size: 0.13047, frame_id: tag_53},
      {id: 54, size: 0.13047, frame_id: tag_54},
      {id: 55, size: 0.13047, frame_id: tag_55},
      {id: 56, size: 0.13047, frame_id: tag_56},
      {id: 57, size: 0.13047, frame_id: tag_57},
      {id: 58, size: 0.13047, frame_id: tag_58},
      {id: 59, size: 0.13047, frame_id: tag_59},
      {id: 60, size: 0.13047, frame_id: tag_60},
      {id: 61, size: 0.13047, frame_id: tag_61},
      {id: 62, size: 0.13047, frame_id: tag_62},
      {id: 63, size: 0.13047, frame_id: tag_63},
      {id: 64, size: 0.13047, frame_id: tag_64},
      {id: 65, size: 0.13047, frame_id: tag_65},
      {id: 66, size: 0.13047, frame_id: tag_66},
      {id: 67, size: 0.13047, frame_id: tag_67},
      {id: 68, size: 0.13047, frame_id: tag_68},
      {id: 69, size: 0.13047, frame_id: tag_69},
      {id: 70, size: 0.13047, frame_id: tag_70},
      {id: 71, size: 0.13047, frame_id: tag_71},
      {id: 72, size: 0.13047, frame_id: tag_72},
      {id: 73, size: 0.13047, frame_id: tag_73},
      {id: 74, size: 0.13047, frame_id: tag_74},
      {id: 75, size: 0.13047, frame_id: tag_75},
      {id: 76, size: 0.13047, frame_id: tag_76},
      {id: 77, size: 0.13047, frame_id: tag_77},
      {id: 78, size: 0.13047, frame_id: tag_78},
      {id: 79, size: 0.13047, frame_id: tag_79},
      {id: 80, size: 0.13047, frame_id: tag_80},
      {id: 81, size: 0.13047, frame_id: tag_81},
      {id: 82, size: 0.13047, frame_id: tag_82},
      {id: 83, size: 0.13047, frame_id: tag_83},
      {id: 84, size: 0.13047, frame_id: tag_84},
      {id: 85, size: 0.13047, frame_id: tag_85},
      {id: 86, size: 0.13047, frame_id: tag_86},
      {id: 87, size: 0.13047, frame_id: tag_87},
      {id: 88, size: 0.13047, frame_id: tag_88},
      {id: 89, size: 0.13047, frame_id: tag_89},
      {id: 90, size: 0.13047, frame_id: tag_90},
      {id: 91, size: 0.13047, frame_id: tag_91},
      {id: 92, size: 0.13047, frame_id: tag_92},
      {id: 93, size: 0.13047, frame_id: tag_93},
      {id: 94, size: 0.13047, frame_id: tag_94},
      {id: 95, size: 0.13047, frame_id: tag_95},
      {id: 96, size: 0.13047, frame_id: tag_96},
      {id: 97, size: 0.13047, frame_id: tag_97},
      {id: 98, size: 0.13047, frame_id: tag_98},
      {id: 99, size: 0.13047, frame_id: tag_99},
      {id: 100, size: 0.13047, frame_id: tag_100},
      {id: 101, size: 0.13047, frame_id: tag_101},
      {id: 102, size: 0.13047, frame_id: tag_102},
      {id: 103, size: 0.13047, frame_id: tag_103},
      {id: 104, size: 0.13047, frame_id: tag_104},
      {id: 105, size: 0.13047, frame_id: tag_105},
      {id: 106, size: 0.13047, frame_id: tag_106},
      {id: 107, size: 0.13047, frame_id: tag_107},
      {id: 108, size: 0.13047, frame_id: tag_108},
      {id: 109, size: 0.13047, frame_id: tag_109},
      {id: 110, size: 0.13047, frame_id: tag_110},
      {id: 111, size: 0.13047, frame_id: tag_111},
      {id: 112, size: 0.13047, frame_id: tag_112},
      {id: 113, size: 0.13047, frame_id: tag_113},
      {id: 114, size: 0.13047, frame_id: tag_114},
      {id: 115, size: 0.13047, frame_id: tag_115},
      {id: 116, size: 0.13047, frame_id: tag_116},
      {id: 117, size: 0.13047, frame_id: tag_117},
      {id: 118, size: 0.13047, frame_id: tag_118},
      {id: 119, size: 0.13047, frame_id: tag_119},
      {id: 120, size: 0.13047, frame_id: tag_120},
      {id: 121, size: 0.13047, frame_id: tag_121},
      {id: 122, size: 0.13047, frame_id: tag_122},
      {id: 123, size: 0.13047, frame_id: tag_123},
      {id: 124, size: 0.13047, frame_id: tag_124},
      {id: 125, size: 0.13047, frame_id: tag_125},
      {id: 126, size: 0.13047, frame_id: tag_126},
      {id: 127, size: 0.13047, frame_id: tag_127},
      {id: 128, size: 0.13047, frame_id: tag_128},
      {id: 129, size: 0.13047, frame_id: tag_129},
      {id: 130, size: 0.13047, frame_id: tag_130},
      {id: 131, size: 0.13047, frame_id: tag_131},
      {id: 132, size: 0.13047, frame_id: tag_132},
      {id: 133, size: 0.13047, frame_id: tag_133},
      {id: 134, size: 0.13047, frame_id: tag_134},
      {id: 135, size: 0.13047, frame_id: tag_135},
      {id: 136, size: 0.13047, frame_id: tag_136},
      {id: 137, size: 0.13047, frame_id: tag_137},
      {id: 138, size: 0.13047, frame_id: tag_138},
      {id: 139, size: 0.13047, frame_id: tag_139},
      {id: 140, size: 0.13047, frame_id: tag_140},
      {id: 141, size: 0.13047, frame_id: tag_141},
      {id: 142, size: 0.13047, frame_id: tag_142},
      {id: 143, size: 0.13047, frame_id: tag_143},
      {id: 144, size: 0.13047, frame_id: tag_144},
      {id: 145, size: 0.13047, frame_id: tag_145},
      {id: 146, size: 0.13047, frame_id: tag_146},
      {id: 147, size: 0.13047, frame_id: tag_147},
      {id: 148, size: 0.13047, frame_id: tag_148},
      {id: 149, size: 0.13047, frame_id: tag_149},
      {id: 150, size: 0.13047, frame_id: tag_150},
      {id: 151, size: 0.13047, frame_id: tag_151},
      {id: 152, size: 0.13047, frame_id: tag_152},
      {id: 153, size: 0.13047, frame_id: tag_153},
      {id: 154, size: 0.13047, frame_id: tag_154},
      {id: 155, size: 0.13047, frame_id: tag_155},
      {id: 156, size: 0.13047, frame_id: tag_156},
      {id: 157, size: 0.13047, frame_id: tag_157},
      {id: 158, size: 0.13047, frame_id: tag_158},
      {id: 159, size: 0.13047, frame_id: tag_159},
      {id: 160, size: 0.13047, frame_id: tag_160},
      {id: 161, size: 0.13047, frame_id: tag_161},
      {id: 162, size: 0.13047, frame_id: tag_162},
      {id: 163, size: 0.13047, frame_id: tag_163},
      {id: 164, size: 0.13047, frame_id: tag_164},
      {id: 165, size: 0.13047, frame_id: tag_165},
      {id: 166, size: 0.13047, frame_id: tag_166},
      {id: 167, size: 0.13047, frame_id: tag_167},
      {id: 168, size: 0.13047, frame_id: tag_168},
      {id: 169, size: 0.13047, frame_id: tag_169},
      {id: 170, size: 0.13047, frame_id: tag_170},
      {id: 171, size: 0.13047, frame_id: tag_171},
      {id: 172, size: 0.13047, frame_id: tag_172},
      {id: 173, size: 0.13047, frame_id: tag_173},
      {id: 174, size: 0.13047, frame_id: tag_174},
      {id: 175, size: 0.13047, frame_id: tag_175},
      {id: 176, size: 0.13047, frame_id: tag_176},
      {id: 177, size: 0.13047, frame_id: tag_177},
      {id: 178, size: 0.13047, frame_id: tag_178},
      {id: 179, size: 0.13047, frame_id: tag_179},
      {id: 180, size: 0.13047, frame_id: tag_180},
      {id: 181, size: 0.13047, frame_id: tag_181},
      {id: 182, size: 0.13047, frame_id: tag_182},
      {id: 183, size: 0.13047, frame_id: tag_183},
      {id: 184, size: 0.13047, frame_id: tag_184},
      {id: 185, size: 0.13047, frame_id: tag_185},
      {id: 186, size: 0.13047, frame_id: tag_186},
      {id: 187, size: 0.13047, frame_id: tag_187},
      {id: 188, size: 0.13047, frame_id: tag_188},
      {id: 189, size: 0.13047, frame_id: tag_189},
      {id: 190, size: 0.13047, frame_id: tag_190},
      {id: 191, size: 0.13047, frame_id: tag_191},
      {id: 192, size: 0.13047, frame_id: tag_192},
      {id: 193, size: 0.13047, frame_id: tag_193},
      {id: 194, size: 0.13047, frame_id: tag_194},
      {id: 195, size: 0.13047, frame_id: tag_195},
      {id: 196, size: 0.13047, frame_id: tag_196},
      {id: 197, size: 0.13047, frame_id: tag_197},
      {id: 198, size: 0.13047, frame_id: tag_198},
      {id: 199, size: 0.13047, frame_id: tag_199},
      {id: 200, size: 0.13047, frame_id: tag_200},
      {id: 201, size: 0.13047, frame_id: tag_201},
      {id: 202, size: 0.13047, frame_id: tag_202},
      {id: 203, size: 0.13047, frame_id: tag_203},
      {id: 204, size: 0.13047, frame_id: tag_204},
      {id: 205, size: 0.13047, frame_id: tag_205},
      {id: 206, size: 0.13047, frame_id: tag_206},
      {id: 207, size: 0.13047, frame_id: tag_207},
      {id: 208, size: 0.13047, frame_id: tag_208},
      {id: 209, size: 0.13047, frame_id: tag_209},
      {id: 210, size: 0.13047, frame_id: tag_210},
      {id: 211, size: 0.13047, frame_id: tag_211},
      {id: 212, size: 0.13047, frame_id: tag_212},
      {id: 213, size: 0.13047, frame_id: tag_213},
      {id: 214, size: 0.13047, frame_id: tag_214},
      {id: 215, size: 0.13047, frame_id: tag_215},
      {id: 216, size: 0.13047, frame_id: tag_216},
      {id: 217, size: 0.13047, frame_id: tag_217},
      {id: 218, size: 0.13047, frame_id: tag_218},
      {id: 219, size: 0.13047, frame_id: tag_219}]

      <!--{id: 0, size: 0.13047},
      {id: 1, size: 0.13047, frame_id: a_frame},
      {id: 2, size: 0.13047, frame_id: tag_2},
      {id: 3, size: 0.13047},
      {id: 4, size: 0.13047},
      {id: 5, size: 0.13047}, 
      {id: 170, size: 0.13047, frame_id: tag_170}] -->
    </rosparam>
  </node>
</launch>
