<launch>
  <!-- we're gonna parse the world -->
  <include file="./example.launch"/>
  <node name="odom_filt_processing" pkg="odom_filt_processing" type="odom_filt_processing" />
  <node name="landmark_processing" pkg="landmark_processing" type="landmark_processing" />
  <!-- <node pkg="rosbag" type="play" name="player" args="/home/joe/mrsd/grudslam/GroundsWreckers/src/launch/AprilTag_Moving.bag" /> -->
  <!-- <node name="gucci_gang" pkg="gucci_gang" type="gucci_gang" /> -->
</launch>
